{% extends "layout.html" %}

{% block title %}
About us
{% endblock %}

{% block content %}

<div class ="container">
    <div class="jumbotron">
        <h1>About us</h1>
        <p>
            Body Tech Warehouse was established in 2009 to provide high quality, yet affordable strongman/strength orientated goods. In the early years we largely specialised in Strongman, Powerlifting, Olympic Weightlifting and Crossfit - but now we have expanded our range of products to cater for every lifter from someone who is just getting into fitness, to the professional athlete performing at the highest level of their sport.

            We are based in Cardiff, Wales where we have our offices and dispatch warehouse. Every product that is listed on the website we have in stock at our warehouse, due to this we pride ourselves on our fast dispatch times and excellent customer service.

            We are always designing new products, testing prototypes and using all of our resources including our sponsored athletes who help us develop products and test them vigorously before they go on sale. This is great for our customers as we have world class athletes helping us develop our new products to ensure you are getting the best product possible.
            Our staff members range from competitive powerlifters, weightlifters and strongmen - with this vast amount of experience in house we are able to not only develop great products - but also offer customers solid advice to help them make the right choice with any support gear or gym kit when they get in touch with us. Our staff are always happy to help and spend time making sure our customers are getting the best, honest and friendliest advice possible to make the right decision to help improve their facility or reach their own personal goals they have.
            For contact information see below, we're ready to help!
        </p>
        <p>
            Contact Information
            For returns please contact us.
            Email - enquiries@bodytech.co.uk
            Telephone - 020 7946 0206
            Mobile - 020 7946 0768

        </p>

    </div>

</div>

	
{% endblock %}